import React from 'react';

function {{properCase name}} (){
    return(
        <div className="{{properCase name}}">
            This is {{properCase name}} component
        </div>
    );
}

export default {{properCase name}};
